@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

.weather2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.app{
    width: 400px;
    padding: 25px;
    color: #e5e5e5;
    border-radius: 10px;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
    background: linear-gradient(108deg, #a0d8ef, #87c8f3);
    margin: 15vh 7vw 10vh 7vw;
    
}
.app h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.input-wrapper{
    display: flex;
}
.input-wrapper input{
    width: 100%;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-wrapper input:focus{
    outline: none;
}
.input-wrapper button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    cursor: pointer;
    width: 80px;
    height: auto;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(262deg,rgba(0,0,0,0.1),rgba(0,0,0,0.4)) ;
    margin-top: 10px;
    border-radius: 10px;
    height: 72vh;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-c{
    flex-direction: column;
}
.location{margin-top: 20px;}
.location h2{
    margin: 0;
    margin-left: 10px;
    font-weight: 300;
}
.location h2 span{
    font-size: 14px;
}
.datetext{
    font-size: 14px;
}
.weatherdesc h3{
    margin: 0;
    text-transform: capitalize;
    font-weight: 400;
}
.tempstats{
    width: 100%;
    padding: 20px 0px;
}
.tempstats h1{
    font-size: 64px;
    font-weight: 200;
    margin: 0;
}
.tempstats h1 span{
    font-size: 38px;
}
.tempstats h3{
    font-weight: 400;
}
.windstats{
    padding: 0px 20px;
    background:rgba(0,0,0,0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
.windstats h3{
    margin-left: 10px;
    font-weight: 400;
}

.img{
    background-image: url("../../Assets/weather.jpeg");
    background-size: cover; /* Best fit while maintaining aspect ratio */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}

h4{
    font-weight: 300;
    font-size: 2.5rem;
}

.footer3{
    width: 100%;
}