.container1 {
    display: flex;
    height: 10vh;
    flex-direction: column;
    gap: 8px;
  }
  
  .container1 label {
    font-weight: 700;
    font-size: 1.5rem;
    color: #313131;
    text-align: left;
  }
  
  .container1 input {
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 10px 15px;
    color: #000;
  }
  
  .container1 input:hover {
    border-color: #ccc;
  }
  
  .container1 input:focus {
    border-color: #9900ff;
  }